/* ============ Google Fonts ============ */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ============ Navbar Elements ============ */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #0d0d0d;
    height: 10em;
    width:100%;
    top:0;
    position:fixed;
    z-index: 9999;
}
.navbar-brand img{ 
    height: 750%;
    width:auto;
    transform: translateY(-15%);
}
#search-bar{
    transform: translateY(40%);
    width:225%;
    height: 4em;
}
#brand-title{  
    font-size: 600%;
    font-family: 'Bebas Neue';
    font-stretch: ultra-expanded;
    color: #cfcfcf;
    padding-right: 1em;
    transform: translateY(70%);
}
#brand-title:hover{
    text-shadow: 3px 3px 3px #424242;
}

#login-btn{ 
    font-size:2em;
    transform: translateY(40%);
    color:#cfcfcf;
    background-color: transparent;
}

#login-btn:hover {
    text-shadow: 3px 3px 3px #424242;
}

/* ============ Side Column Elements ============ */
.sidenav {
    min-height: 100vh;
    background-color: #141414;
}

/* ============ Center Column Elements ============ */
#content{
    margin-top:10em;
}
#content-col {
    min-height: 100vh;
    background-color: #434343;
}
#create-container{  
    position:absolute;
    left:16%;
    background-color: #2f2f2f;
    border-radius:5%;
    border:4px solid #212121;

    top:10%;
    height:80%;
}

/* Containers within Post Creation UI */
#title-container{
    height:15%;
    padding-bottom:3.5%;
}

/* Elements within #title-container */
#title-container p{
    position:relative;
    font-family: 'Bebas Neue';
    font-size:400%;
    color:#a3a3a3;
    margin-top:3%;
    margin-bottom:3%;
}
/* Elements withing #input-container */
#sneaker-title-container{
    display:flex;
    align-items:center;
    width:90%;
    padding-bottom:5%;
}
#brand-size-price-container{
    display:flex;
    width:90%;
    padding-bottom:5%;
}
#brand-size-price-container{
    display:flex;
    width:90%;
    padding-bottom:5%;
    padding-left:5%;
    padding-bottom:5%;
}
#description-container{
    display:flex;
    width:90%;
    padding-bottom:10%;
}
#description-container input{
    height:10em;
}
#image-input-container{
    display:flex;
    width:90%;
    padding-bottom:5%;
}
#image-input-container input{
    position: relative;
    margin:auto;
    width:100%;
}
label{
    position:relative;
    font-size:150%;
    color:white;
    width:50%;
}

/* ============ Responsive Adaptations ============ */

/* Adapt to Minimal Screens */
@media screen and (max-width: 575px) { 
    #search-bar{
        width:10px;
    }
    #brand-title{
        font-size: 100%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
        
    }
    .navbar-brand img{ 
        display:none;
    }
}

/* Adapt to Mobile Devices */
@media screen and (min-width: 576px) and (max-width: 768px) { 

}

/* Adapt to Tablets */
@media screen and (min-width: 768px) and (max-width: 991px){ 
    #search-bar{
        width:100%;
    }
    #brand-title{
        font-size: 400%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
    }
    .navbar-brand img{ 
        height: 550%;
        width:auto;
        transform: translateY(-8%);
    }
}