/* ============ Google Fonts ============ */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ============ Navbar Elements ============ */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #0d0d0d;
    height: 10em;
    width:100%;
    top:0;
    position:fixed;
    z-index: 9999;
}
.navbar-brand img{ 
    height: 750%;
    width:auto;
    transform: translateY(-15%);
}
#search-bar{
    transform: translateY(40%);
    width:225%;
    height: 4em;
}
#brand-title{  
    font-size: 600%;
    font-family: 'Bebas Neue';
    font-stretch: ultra-expanded;
    color: #cfcfcf;
    padding-right: 1em;
    transform: translateY(70%);
}
#brand-title:hover{
    text-shadow: 3px 3px 3px #424242;
}

#login-link:hover,
#logout-link:hover,
#buyer-link:hover  {
    text-shadow: 3px 3px 3px #424242;
}

#login-link,
#logout-link,
#buyer-link {
    font-size: 2em;
    color: #cfcfcf;
    background-color: transparent;
    transform: translateY(50%);
}

#logout-link {
    transform: translateY(110%);
    border: 0;
}

#buyer-link {
    font-size: 3em;
    transform: translateY(40%);
    padding-right: 0.7em;
}
#navbar-profilepic{
  transform: translateY(15%);
  border:4px solid #4d4d4d;
  border-radius:50%;
  height:4.5em;
}

/* ============ Side Column Elements ============ */
.sidenav {
  position: sticky;
  top: 0; 
  height: 100vh;
  background-color: #141414;
}

/* ============ Center Column Elements ============ */
#content{
  margin-top:10em;
}
#content-col {
  position: relative;
  min-height: 100vh;
  background-color: #434343;
  padding:0 0 0 0;
}
#profile-container{
  width:100%;
  height:100%;
}
#edit-container{
  width:100%;
  min-height:100vh;
  background-color: #252525;
}
/* ======================== Elements of #edit-container ======================== */
#edit-acc-title{
  position:absolute;
  height:8%;
  width:100%;
}
#edit-info-title{
  position:absolute;
  top:50%;
  height:8%;
  width:100%;
}
#back-btn{
  position:absolute;
  top:30%;
  left:5%;
  font-size:150%;
  opacity:0.5;
  background-color:transparent;
  border:0;
  color:white;
}
#back-btn:hover{
  opacity:1;
}
#refresh-data-btn{
  position:absolute;
  top:30%;
  right:5%;
  font-size:150%;
  opacity:0.5;
  background-color:transparent;
  border:0;
  color:white;
}
#refresh-data0.-btn:hover{
  opacity:1;
}


/* ===== 2 Nested Containers for each Half of #edit-info-container ===== */

#edit-info-container{
  position:absolute;
  display:flex;
  top:58%;
  height:42%;
  width:100%;
}
/* Left half of parent container */
#left-input-container{
  position:relative;            
  height:100%;
  width:50%;
  padding:2%;
}
#left-form-container{
  position:relative;
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  padding:2%;
  text-align:center;
}
/* Right half of parent container */
#right-input-container{
  position:relative;
  height:100%;
  width:50%;
  padding:2%;
}
#right-form-container{
  position:relative;
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  padding:2%;
  text-align:center;
}


/* ===== 2 Nested Containers for each Half of #edit-acc-container ===== */

#edit-acc-container{
  display:flex;
  position:absolute;
  height:42%;
  width:100%;
  top:8%;
}
/* Left half of parent container */
#acc-input-container{
  position:relative;
  height:100%;
  width:50%;
  padding:2%;
}
.edit-field{
  position:relative;
  align-items:center;
  margin:auto;
  display:flex;
  height:20%;
  width:100%;
  padding:1%;
}
#edit-bio-container{
  height:8em;
}
#edit-bio{
  object-fit:contain;
  position:relative;

}
#bio-input{
  border-radius:5%;
  width:95%;
  background-color:#363636;
  border: 1px solid #212121;
  color:white;
}

/* Right half of parent container */
#acc-image-container{
  position:relative;
  height:100%;
  width:50%;
  padding:2%;
  color:white;
}

#image-input-container{
  position:relative;
  display:flex;
  height:100%;
  width:100%;
  padding:2%;
  text-align:center;
}


#image-preview-container{
  position:relative;
  height:100%;
  width:auto;
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
}
#preview-image{
  object-fit:contain;
  height:auto;    
  max-height:100%;
  max-width:100%;
  border-radius:50%;
  border: 4px solid #4d4d4d;
}

#url-input-container{
  position:relative;
  height:100%;
  width:60%;
  font-size:50%;
  font-family: "Poppins", sans-serif;
  
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding:10%;
  font-size:100%;
}
#submit-image{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top:20%;
  height:auto;
  color:black;
}
#input-image{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items:center;
  text-align:left;
  color:black;
}

/* ===== Class Elements ===== */
.edit-title p{
  margin-top:1%;
  margin-bottom:1%;
  text-align:center;
  font-size:250%;
  font-family: "Bebas Neue", sans-serif;
  color:white;
}
.edit-field p{
  color:white;
  font-size:1.25em;
}
.label-container{
  position:relative;
  height:100%;
  width:25%;

  display:flex;
  justify-content:center;
  align-items:center;
}
.input-field-container{
  position:relative;
  height:100%;
  width:60%;
  border: 1.5px solid #3b3b3b;
  border-radius:7%;
  display:flex;
  
  justify-content:center;
  align-items:center;
}
.input-field-container p{
  color:#cdcdcd;
  position:relative;
  margin:2.5%;
}
.button-container{
  position:relative;
  height:100%;
  width:15%;

  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
.edit-btn{
  background-color:#1c1c1c;
  color:white;
  border-radius:50%;
}
.input-field-container input{
  width:95%;
  height:70%;
  border-radius:5%;
  background-color:#363636;
  border: 1px solid #212121;
  color:white;
}
.input-field-container select{
  width:95%;
  height:70%;
  border-radius:5%;
  background-color:#363636;
  border: 1px solid #212121;
  color:white;
}
.exit-btn{
  background-color:transparent;
  border: 0;
  color:red;
  font-size:125%;
}
.confirm-btn{
  background-color:transparent;
  border: 0;
  color:#27c148;
  font-size:125%;
}

/* ======================== Elements of #profile-container ======================== */

/* Containers within Center column */
#seller-info-container {
  position:relative;
  display:flex;
  height:40%;
  width:100%;

  background-color: #111111;
  border-bottom: 5px solid #262626;
}


/* Elements of #seller-info-container */

#nav-edit-container{
  position:absolute;
  height:15%;
  width:20%;
  top:10%;
  right:0;
  display:flex;
  justify-content:space-evenly;
}

.nav-btn{
  position:relative;
  height:100%;

  background-color:transparent;
  border: 1px solid white;
  color:white;
}
#profilepic-container{
  position: relative;
  display:flex;

  justify-content: center;
  margin-top:auto;
  margin-bottom:auto;
  height:100%;
  right: 0;
  width:30%;
  background-color:transparent;
}
#profilepic-container img{
  object-fit:contain;
  width:55%;
  height:auto;    
  max-height:100%;
  max-width:100%;
  border-radius:50%;
  border: 4px solid #4d4d4d;
}
#seller-text-info{
  position:relative;
  
  height:40%;
  width:60%;
  font-family: "Oswald", sans-serif;
}
#username-container{
  position:relative;
  margin-top:5%;
  width:40%;
  height:15%;
  font-size:250%;
  
  color:white;
  font-stretch:ultra-expanded;

}
#name-container{
  position:relative;

  margin-top:1%;
  margin-bottom:1%;
  width:60%;
  height:15%;
  font-size:175%;
  padding-top:2.5%;
  color:#b9b9b9;
  font-stretch:ultra-expanded;
}
#bio-container{
  position:relative;

  margin-bottom:5%;
  width:80%;
  height:70%;
  font-size:175%;
  padding-top:5%;
  color:#b9b9b9;
  font-stretch:ultra-expanded;
}
/* ================ Listing UI Elements ================ */
#listings{
  height:60%;
  width:100%;
}
.my-3{
  height:100vh;
}
#listing-main-container{
  position:relative;
  height:90%;
  top:5%;
  bottom:5%;
  left: 15%;
  right: 15%;
  width:70%;
  border-radius:5%;
  border: 8px solid #212121;
  background-color:#0b0b0b;
}
/* Containers within Listing */
#listing-title-container{
  position:relative;
  text-align:center;
  height:15%;
}
#image-container{
  position:relative;
  height:50%;
  background-color:black;
  border: 3px solid #212121;
}
#info-container{
  position: relative;
  display:flex;
  background-color:transparent;
  height: 35%; 
}
/* Elements of #image-container */
#image-container img{
  width:100%;
  height:100%;    
  max-height:100%;
  max-width:100%;
  object-fit:contain;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  background-color: transparent;
  border-color: transparent;
  opacity: 0.5;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#price-container{  
  position:absolute;
  top:2%;
  left:2%;
  border: 3px solid #4c4c4c;
  background-color:#363636;
  border-radius:10%;
  height:15%;
  width:15%;
  display:flex;
  justify-content:center;
  align-items:center;
}
#price-container{  
  position:absolute;
  top:2%;
  left:2%;
  border: 3px solid #79e965;
  background-color:#363636;
  border-radius:10%;
  height:15%;
  width:15%;
  display:flex;
  justify-content:center;
  align-items:center;
}
#price{
  color: #79e965;
  font-family: "Freeman", sans-serif;
  -webkit-text-stroke-width: 0.5px;  
  -webkit-text-stroke-color: #2d8a2e; 
  position:relative;
  top:5%;
  font-size:2.25em; 
}
#size-container{  
  position:absolute;
  border: 3px solid #fcbf1c;
  background-color:#363636;
  
  border-radius:10%;
  height:15%;
  width:15%;
  top:2%;
  right:2%;
  display:flex;
  justify-content:center;
  align-items:center;
}
#size{
  color:#fcbf1c;
  -webkit-text-stroke-width: .2px;  
  -webkit-text-stroke-color: #cd9f26; 
  font-size:1.8em; 
  font-family: "Freeman", sans-serif;
  position:relative;
  top:5%;
}

/* Elements of #listing-title-container */
#listing-title {
  padding-top: 2.5%;
  font-size: 300%;
  font-family: 'Bebas Neue';
  color: #fcbf1c;
}

/* Elements of #info-container */
#listing-name{
  position:relative;
  text-align:center; 
  top:5%;
  width:25%;
  font-size: 225%;
  font-family: 'Bebas Neue';
}

#listing-name a{
  color:#1267db;
  text-decoration:none;
}

#listing-name a:hover{
  color:#62a5ff;
  text-decoration:none;
}

#listing-sh-desc{
  position:relative;
  top:5%;
  right:0;
  width:75%;
  font-size: 200%;
  color:#cecece;
  font-family: 'Bebas Neue';
}

/* Other (Absolute) Elements */
#listing-like{
  position:absolute;
  color: transparent;  
  -webkit-text-stroke-width: 4px;  
  -webkit-text-stroke-color: red;  
  font-size:300%;
  bottom:2.5%;
  right:2.5%;
}
#listing-like:hover{
  -webkit-text-stroke-color: #bd0000; 
}
#listing-checkout{
  position:absolute;
  color: #a2a2a2;
  background-color:transparent;
  padding:10px;
  font-size:120%;
  border-radius:10%;
  border: 3px solid #a2a2a2;
  background-color:#151515;
  bottom:3%;
  left:2.5%;
  font-family: "Freeman", sans-serif;
}
#listing-checkout:hover{
  color:white;
}
.delete-btns{
  position:absolute;
  color: #c42525;
  background-color:transparent;
  padding:10px;
  font-size:120%;
  border-radius:10%;
  border: 3px solid #c42525;
  background-color:#151515;
  bottom:3%;
  left:2.5%;
  font-family: "Freeman", sans-serif;
}
.delete-btns:hover{
  color:red;
  border-color:red;
}

/* ============ Responsive Adaptations ============ */

/* Adapt to Minimal Screens */
@media screen and (max-width: 575px) { 
    #search-bar{
        width:10px;
    }
    #brand-title{
        font-size: 100%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
        
    }
    .navbar-brand img{ /* SneakerSphere Logo */
        display:none;
    }
}

/* Adapt to Mobile Devices */
@media screen and (min-width: 576px) and (max-width: 768px) { 

}

/* Adapt to Tablets */
@media screen and (min-width: 768px) and (max-width: 991px){ 
    #search-bar{
        width:100%;
    }
    #brand-title{
        font-size: 400%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
    }
    .navbar-brand img{ /* SneakerSphere Logo */
        height: 550%;
        width:auto;
        transform: translateY(-8%);
    }
}