/* ============ Google Fonts ============ */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ============ Navbar Elements ============ */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #0d0d0d;
    height: 10em;
    width:100%;
    top:0;
    position:fixed;
    z-index: 9999;
}
.navbar-brand img{ 
    height: 750%;
    width:auto;
    transform: translateY(-15%);
}
#search-bar{
    transform: translateY(40%);
    width:225%;
    height: 4em;
}
#brand-title{  
    font-size: 600%;
    font-family: 'Bebas Neue';
    font-stretch: ultra-expanded;
    color: #cfcfcf;
    padding-right: 1em;
    transform: translateY(70%);
}
#brand-title:hover{
    text-shadow: 3px 3px 3px #424242;
}

#login-btn{ 
    font-size:2em;
    transform: translateY(40%);
    color:#cfcfcf;
    background-color: transparent;
}
#login-btn:hover {
    text-shadow: 3px 3px 3px #424242;
}

/* ============ Side Column Elements ============ */
.sidenav {
    min-height: 100vh;
    background-color: #141414;
}

/* ============ Center Column Elements ============ */
#content{
  margin-top:10em;
}
#content-col {
  position: relative;
  height: 100vh;
  background-color: #434343;
  padding:0 0 0 0;
}
#content-container{
  width:100%;
  height:100%;
}
/* Containers within Center column */
#seller-info-container {
  top:10em;
  display:flex;
  height:40%;
  width:100%;

  background-color: #111111;
  border-bottom: 5px solid #262626;
}

/* Elements of #seller-info-container */ 
#profilepic-container{
  position: relative;
  background-color:transparent;
  margin-top: auto;
  margin-bottom:auto;
  left: 2.5%;
  right: 0;
  height: 80%; 
  width:auto;
  border-radius:5%;
}
#profilepic-container img{
  object-fit:contain;
  width:100%;
  height:auto;    
  max-height:100%;
  max-width:100%;
  border-radius:50%;
  border: 4px solid #4d4d4d;
}
#seller-text-info{
  position:relative;
  margin-top: auto;
  margin-bottom:auto;
  height:80%;
  width:60%;
  left:10%;
  font-family: "Oswald", sans-serif;
}
#username-container{
  position:relative;
  width:40%;
  height:15%;
  font-size:250%;
  
  color:white;
  font-stretch:ultra-expanded;

}
#name-container{
  position:relative;
  width:60%;
  height:15%;
  font-size:175%;
  padding-top:2.5%;
  color:#b9b9b9;
  font-stretch:ultra-expanded;
}
#bio-container{
  position:relative;
  width:80%;
  height:70%;
  font-size:175%;
  padding-top:5%;
  color:#b9b9b9;
  font-stretch:ultra-expanded;
}

/* ============ Responsive Adaptations ============ */

/* Adapt to Minimal Screens */
@media screen and (max-width: 575px) { 
    #search-bar{
        width:10px;
    }
    #brand-title{
        font-size: 100%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
        
    }
    .navbar-brand img{ /* SneakerSphere Logo */
        display:none;
    }
}

/* Adapt to Mobile Devices */
@media screen and (min-width: 576px) and (max-width: 768px) { 

}

/* Adapt to Tablets */
@media screen and (min-width: 768px) and (max-width: 991px){ 
    #search-bar{
        width:100%;
    }
    #brand-title{
        font-size: 400%;
        font-stretch: ultra-condensed;
        padding-right: 0%;
    }
    .navbar-brand img{ /* SneakerSphere Logo */
        height: 550%;
        width:auto;
        transform: translateY(-8%);
    }
}